.css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
    height: auto !important;
    width: auto !important;
    min-height: 0 !important;
}

.css-sox5kk-MuiBackdrop-root {
    z-index: 100 !important;
}

.css-1c32n2y-MuiBadge-root {
    height: fit-content;
}

.css-11u3b1d-MuiSpeedDial-root {
    height: 12px !important;
}

.css-11u3b1d-MuiSpeedDial-root .MuiSpeedDial-actions {
    margin-top: -25px !important;
}

.apexcharts-tooltip-title,
.apexcharts-tooltip-text-y-label,
.apexcharts-tooltip-text-y-value {
    color: black;
}