.css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
    height: auto !important;
    width: auto !important;
    min-height: 0 !important;
}

.css-sox5kk-MuiBackdrop-root {
    z-index: 100 !important;
}

.css-1c32n2y-MuiBadge-root {
    height: fit-content;
}