/* FORM GRID */
.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.form-container .field-container:nth-of-type(5) {
    grid-area: button;
}

.form-container {
    grid-template-areas: "name name" "number number" "expiration security" "button button";
}

/* FLIP ANIMATION */
.creditcard {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
}

.card {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.backside-card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* PAYMENT BUTTON ANIMATION */
.btn-spinner {
    animation: spin 0.6s ease-out infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}