/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ALL */
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    color: white;
}

/* HTML */
html {
    overflow-x: hidden;
}

/* BODY */
body {
    cursor: url("./Assets/cursor.png"), auto;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.452);
}

/* SPIN BUTTON */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* BORDER RADIUS */
.border-radius {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

/* LEAFLET */
.leaflet-control-zoom-out span,
.leaflet-control-zoom-in span {
    color: black;
}

/* RADIO BUTTON */
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* OVERRIDE PROPERTY */
.edit-icon path {
    color: black !important;
}

/* LINE CLAMP */
.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* BORDER GRAY */
.border-gray {
    border-color: gray;
}

/* TAILWIND */
.primary-button {
    @apply font-semibold text-base bg-customGray py-2 px-4 cursor-pointer;
}

.td-border {
    @apply border border-gray-500;
}

.table-width {
    @apply min-w-[800px] w-full;
}

.page-padding {
    @apply p-5 sm:px-10;
}

.page-title {
    @apply font-semibold text-2xl sm:text-4xl pb-5 sm:pb-10;
}

.page-width {
    @apply max-w-[1400px] mx-auto;
}

.form-input-text {
    @apply bg-black outline-none border-b-2 w-full border-gray p-1 text-sm;
}

.form-input-select {
    @apply bg-black w-full outline-none;
}

.form-label {
    @apply block mb-1;
}

.auth-input {
    @apply w-[80%] ml-5 rounded-sm py-1 px-4 outline-none text-black text-base;
}

.contact-input {
    @apply w-full text-black outline-none px-4 py-2 rounded-sm my-2 text-base;
}

.contact-label {
    @apply text-lg font-semibold;
}

.contact-container {
    @apply flex flex-col my-5;
}

.myAccount-input {
    @apply w-full xl:max-w-[300px] rounded-sm py-2 px-4 outline-none text-black text-sm sm:text-base mt-1 xl:mt-0;
}

.filter-input {
    @apply bg-black w-full outline-none cursor-pointer;
}

.filter-label {
    @apply font-semibold text-lg pb-3;
}

.pagination {
    @apply border-customGray border-2 py-2 px-3 cursor-pointer hover:text-red-600 text-sm font-semibold;
}

.heading-line {
    @apply flex-grow h-px bg-gray-700;
}

.heading {
    @apply flex-shrink text-center font-semibold text-xl md:text-4xl;
}